In [1]:
import pandas as pd

# 파일 불러오기

파일 안 열릴 경우 사용 
- engine = 'python'
- encoding = 'utf-8'

In [2]:
df = pd.read_csv('./data_COVID/COVID19_Busan.csv', index_col=0)

In [13]:
df

       확진일자   거주지  지역
0    10. 8.   사상구  부산
1    10. 8.  부산진구  부산
2    10. 8.  부산진구  부산
3    10. 8.  부산진구  부산
4    10. 8.   금정구  부산
..      ...   ...  ..
472  2. 22.  해운대구  부산
473  2. 22.  해운대구  부산
474  2. 22.  해운대구  부산
475  2. 21.  해운대구  부산
476  2. 21.   동래구  부산

[473 rows x 3 columns]

확진일자 [월,일이나 (월),(화)] 포함되어 있는거 지우기

In [4]:
df['확진일자'] = df['확진일자'].astype(str).str.replace('월', '.')

In [5]:
df['확진일자'] = df['확진일자'].astype(str).str.replace('일', '')

In [6]:
df['확진일자'] = df['확진일자'].astype(str).str.replace('\(화\)', '')

In [7]:
df['확진일자'] = df['확진일자'].astype(str).str.replace('\(수\)', '')

In [8]:
df['확진일자'] = df['확진일자'].astype(str).str.replace('\(목\)', '')

In [9]:
df['확진일자'] = df['확진일자'].astype(str).str.replace('\(금\)', '')

In [10]:
df['확진일자'] = df['확진일자'].astype(str).str.replace('\(토\)', '')

In [11]:
df['확진일자'] = df['확진일자'].astype(str).str.replace('\(일\)', '')

In [12]:
df['확진일자'] = df['확진일자'].astype(str).str.replace('\(월\)', '')

In [14]:
df.to_csv('./pre_COVID/COVID19_Busan_re.csv')

# 2020 붙이기

In [16]:
df2 = pd.read_csv('./pre_COVID/COVID19_Busan_re.csv',engine = 'python',index_col=0)

In [17]:
df2.reset_index(drop=True, inplace=True)

In [18]:
df2

    �솗吏꾩씪�옄      嫄곗＜吏�  吏��뿭
0    10. 8.     �궗�긽援�  遺��궛
1    10. 8.    遺��궛吏꾧뎄  遺��궛
2    10. 8.    遺��궛吏꾧뎄  遺��궛
3    10. 8.    遺��궛吏꾧뎄  遺��궛
4    10. 8.      湲덉젙援�  遺��궛
..      ...        ...   ...
468  2. 22.  �빐�슫���援�  遺��궛
469  2. 22.  �빐�슫���援�  遺��궛
470  2. 22.  �빐�슫���援�  遺��궛
471  2. 21.  �빐�슫���援�  遺��궛
472  2. 21.     �룞�옒援�  遺��궛

[473 rows x 3 columns]

In [197]:
df2['확진일자']

0        10.06.
1        10.06.
2        10.06.
3        10.06.
4        10.06.
          ...
17968      3.27
17969      3.25
17970      3.24
17971      3.24
17972       3.4
Name: 확진일자, Length: 17973, dtype: object

In [198]:
df2["확진일자"] = dff["확진일자"].astype(str) # 문자열로 바꿔주기

In [199]:
df2['확진일자'][45]

'10.05.'

In [200]:
# 2020 붙이는 코드 

df2=[]

for i in range(len(dff['확진일자'])):
    df2.append('2020.' + dff['확진일자'][i])
dff['확진일자']=df2

In [201]:
df2

             거주지  지역         확진일자
0            강북구  서울  2020.10.06.
1            용산구  서울  2020.10.06.
2            강북구  서울  2020.10.06.
3           동대문구  서울  2020.10.06.
4           동대문구  서울  2020.10.06.
...          ...  ..          ...
17968   외국(미국)유학  제주    2020.3.27
17969  외국(유럽) 유학  제주    2020.3.25
17970  외국(스페인)방문  제주    2020.3.24
17971  외국(스페인)방문  제주    2020.3.24
17972      대구 방문  제주     2020.3.4

[17973 rows x 3 columns]

In [202]:
df2.to_csv('./pre_COVID/COVID19_removemm_2.csv')